<%= form_for([@project, @issue]) do |f| %>

<% if @issue.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@issue.errors.count, "error") %>
    prohibited this issue from being saved:</h2>

  <ul>
    <% @issue.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= f.hidden_field :project_id %>

<div class="field">
  <%= f.text_field :item, placeholder: "item" %>
</div>
<div class="field">
  <%= f.text_field :function, placeholder: "function" %>
</div>
<div class="field">
  <%= f.text_field :failure, placeholder: "failure" %>
</div>
<div class="field">
  <%= f.text_field :effect_of_failure, placeholder: "effect of failure" %>
</div>
<div class="field">
  <%= f.text_field :cause_of_failure, placeholder: "cause of failure" %>
</div>
<div class="field">
  <%= f.text_field :current_controls, placeholder: "current controls" %>
</div>
<div class="field">
  <%= f.text_field :recommended_actions, placeholder: "recommended actions" %>
</div>
<div class="field">
  <%= f.number_field :probability_estimate, placeholder: "probability estimate" %>
</div>
<div class="field">
  <%= f.number_field :severity_estimate, placeholder: "severity estimate" %>
</div>
<div class="field">
  <%= f.number_field :detection_indicators, placeholder: "detection indicators" %>
</div>
<div class="field">
  <%= f.number_field :detection_dormancy_period, placeholder: "detection dormancy period" %>
</div>
<div class="field">
  <%= f.number_field :risk_level, placeholder: "risk level" %>
</div>
<div class="field">
  <%= f.text_field :further_investigation, placeholder: "further investigation" %>
</div>

<% if false %>
<div class="field">
  <%= f.text_field :project_id %>
</div>
<% end %>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>