<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>User Object ID:</strong>
  <%= @project.user %>
  <% if false %>
  <%= @project.user.firstname %>
  <%= @project.user.lastname %>
  <% end %>

</p>
<p>
  <strong>User Name:</strong>
  <%= @project.user.firstname %>
  <%= @project.user.lastname %>
</p>

<p>
  <% if false %>
  <%= @project.find(@project.user.id) %>
  <% end %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %>
|
<%= link_to 'Back', projects_path %>