<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>User Object ID:</strong>
  <%= @project.user %>
  <% if false %>
  <%= @project.user.firstname %>
  <%= @project.user.lastname %>
  <% end %>

</p>
<p>
  <strong>User Name:</strong>
  <%= @project.user.firstname %>
  <%= @project.user.lastname %>
</p>

<p>
  <strong>Proejct ID:</strong>
  <%= @project.id %>
</p>

<% if Issue.where("project_id": @project.id) != [] %>
<h2>
  Issues within
  <%= @project.name %>
</h2>
<% else %>
<h2>
  Add some issues
</h2>

<%= link_to "Register a new issue", new_project_issue_path(@project) %>

<% end %>

<p>
  <% Issue.where("project_id": @project.id).find_each do |issue| %>
  <% if issue[:item] != "" %>

  <p>
    <%= issue[:item] %>
  </p>
  <% end %>
  <% end %>

</p>

<p>
  <% if false %>
  <%= @project.find(@project.user.id) %>
  <% end %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %>
|
<%= link_to 'Back', projects_path %>