<!DOCTYPE html>
<html>

<head>
  <title>FmeaV1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

<%= stylesheet_link_tag  'https://fonts.googleapis.com/css?family=Raleway:400,600|Bitter:400,700', media: 'all' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
</head>

<nav>
  <%= link_to "Users", users_path %>
  <%= link_to "Issues", issues_path %>
  <%= link_to "Projects", projects_path %>
  <%= link_to "New Project", new_project_path %>
</nav>

<body>
  <div class="main basic-style">
    <%= yield %>
  </div>


</body>

</html>
