<%= form_for(@user) do |f| %>
<% if @user.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@user.errors.count, "error") %>
    prohibited this user from being saved:</h2>

  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<fieldset>

  <div class="field">
    <%= f.text_field :firstname, placeholder: "first name" %>
  </div>
  <div class="field">
    <%= f.text_field :lastname, placeholder: "last name" %>
  </div>
  <div class="field">
    <%= f.email_field :email, placeholder: "email" %>
  </div>
  <div class="field">
    <%= f.password_field :password, placeholder: "password" %>
  </div>
  <div class="field">
    <%= f.password_field :password_confirmation, placeholder: "repeat password" %>
  </div>
  <div class="field">
    <%= f.text_field :picture, placeholder: "picture url" %>
  </div>
  <div class="field">
    <%= f.text_field :phone, placeholder: "phone" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</fieldset>

<% end %>