<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Picture</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <!-- <th>Phone</th> -->
      <% if current_user.admin %>
      <th colspan="3"></th>
      <% else %>
      <th colspan="1"></th>
      <% end %>

    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= image_tag(user.picture, :class => "list_picture")  %></td>
      <td><%= user.firstname %></td>
      <td><%= user.lastname %></td>
      <td><%= user.email %></td>
      <!-- <% if false %>
      <td><%= user.phone %></td>
      <% end %> -->
      <td><%= link_to 'Show', user %></td>

      <% if current_user.admin %>
      <td>
        <%= link_to 'Edit', edit_user_path(user) %>
      </td>

      <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if false %>
<% if @user.admin %>
<%= link_to 'New User', new_user_path %>
<%= link_to 'New User', new_user_registration_path %>
<% end %>
<% end %>