<p id="notice"><%= notice %></p>

<div>

  <p>
    <!-- <strong>Firstname:</strong> -->
    <%= @user.firstname %>

    <!-- <strong>Lastname:</strong> -->
    <%= @user.lastname %>
    |

    <%= @user.email %>
  </p>

  <p>
    <!-- <strong>Email:</strong> -->

  </p>
  <div class="show-page-image">
    <%= image_tag(@user.picture, :class => "person_picture") %>
  </div>
  <div class="projects">
    <% @projects.each do |proj| %>
    <ul>
      <li>
        <%= link_to "#{proj.name}", project_path(proj.id) %>
        <%= proj.name %>
      </li>
    </ul>

    <% end %>
  </div>
  <p>
    <!-- <strong>Picture:</strong> -->

  </p>

  <!-- <p>
  <strong>Firstname:</strong>
  <%= @user.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.lastname %>
</p> -->

  <!-- <p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@user.picture, :class => "person_picture") %>
</p> -->

  <% if @user.phone != "" %>
  <p>
    <strong>Phone:</strong>
    <%= @user.phone %>
  </p>
  <% end %>
  <div class="link">
    <%= link_to 'Edit', edit_user_path(@user) %>
    |
    <%= link_to 'Back', users_path %>

  </div>

</div>